@model PROJECT.Models.product
@{
    ViewBag.Title = "Editprod";
    Layout = "~/Views/Shared/admin_share.cshtml";
}



<div id="page-wrapper" style="margin-left :10%">
    <div class="container">
        <div>
           
        </div>

        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>