
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin_share.cshtml";
}



<div id="page-wrapper" style="margin-left :10%">

        <center>
            <img src="~/images/logo-social.png" width="150" height="100" />
            <br />
            <br />
            <img src="~/images/ch4.jpg" width="1000" height="500" />
        </center>
</div>



  
