@model PROJECT.Models.admin

@{
    ViewBag.Title = "Login";
}



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/Content/shop-homepage.css" rel="stylesheet" />
   
    <!-- Custom CSS -->
    <script src="~/Scripts/adminjs/js2.js"></script>
    <script src="~/Scripts/adminjs/js1.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>
    
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/adminjs/jquery.js"></script>
  
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin/Login">Admin Login</a>
            </div>
        </div>
    </nav>




    <div class="frm">
        <form class="form-horizontal" action="/Admin/Approve" method="post">
            <fieldset>

                <!-- Form Name -->
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="user">Username</label>
                    <div class="controls">
                        <input id="user" name="user" type="text" class=" form-control" data-val-required="Name field is required">

                    </div>
                </div>

                <!-- Password input-->
                <div class="control-group">
                    <label class="control-label" for="passwordinput">Password </label>
                    <div class="controls">
                        <input id="passwordinput" name="pass" type="password" class=" form-control" data-val-required="Password field is required">

                    </div>
                </div>

                <!-- Button -->
                <div class="control-group">
                    <label class="control-label" for="singlebutton"></label>
                    <div class="controls">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">login</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

</body>
</html>

