@using PROJECT.Models

@{
    ViewBag.Title = "CategoryView";
    Layout = "~/Views/Shared/category_share.cshtml";
    
    
}
<script>
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });

</script>


<h1 style="font-family: 'Segoe UI'; color: #713a05; ">Beautifull Dresses</h1>

@foreach(product p in Model)
{
    string url = "~/Files/" + p.Id + "_0.jpg";
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
       
        <a class="fancybox" href=@Url.Content(url) data-fancybox-group="gallery" title=""><img style="width:250px; height:350px;" src=@Url.Content(url) alt=" " /></a>

        <div class="caption">
            <h4 class="pull-right">RS: @p.price</h4>
            <h4>
                @p.name
            </h4>
            <br/>
            <h4><a class="shopBtn" href="/Home/detail/@p.Id" title="add to cart"> Make order </a></h4>
            <br/>
            <p> </p>
        </div>
    </div>
</div>
}

 