@{
    ViewBag.Title = "Contact";
Layout = "~/Views/Shared/menu_shared.cshtml";
}

    <!-------------------------------------------------------------------------------------------------------------------------------------->

    <div class="container">

        <header id="header">
            <div class="row">
                <div class="span4">
                    <a class="logo" href="index.html">
                        <span></span>
                        <img src="~/images/logo-social.png" width="350" height="100" alt="">
                    </a>
                </div>

                <!--<div class="span4 alignR">
                <span class="btn btn-mini">[0] <span class="icon-shopping-cart"></span></span>
                <span class="btn btn-warning btn-mini">Rs</span>
                <hr></hr>
                </div>-->
            </div>
        </header>

        <!--
        Body Section
        -->
        <hr class="soften">

        <div class="well wellsmall">
            <h4>Contact Details</h4>
            <h5>
                26 B Johar Town.<br />
                Lahore<br /><br />

                info@nifty.pk.com<br />
                ﻿Tel 123-456-6780<br />
                Fax 123-456-5679<br />
                web:niftyboutique@yahoo.com
            </h5>
        </div>

        </div>



</body>
</html>

